@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@keyframes colorchange {
    0% { color: white; }

    100% { color: $main-color; }
}


.navbar{
    position: fixed;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    &.background-transparent{
        background-color: rgba(255, 255, 255, 0.302) ;
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0, 1.005);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-bottom: 2px solid white;
    }
    a{
        color: white;
        &.logo{
            font-size: 2em;
            font-weight: 900;
            scroll-behavior: smooth;
            margin: 0;
            padding: 0;
            text-decoration: none;
            transition: all 0.3s cubic-bezier(0.39,0.575,0,1.005);
            color: $ecriture;
            cursor: crosshair !important;
            &:hover{
                animation: shake 0.5s;
            }
        }
    }
    .nav-links{
        display: flex;
        align-items: center;
        
        ul{
            display: flex;
            gap: 20px;
            
            li{
                font-size: 17px;
                &.active{
                    a{
                        color: $main-color;
                    }
                }
                &:hover{
                    a{
                        animation: colorchange 0.5s;
                    }
                }
                    
            }  
        }
        .chargement{
            margin-left: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
            .change-theme{
                cursor: pointer;
                position: relative;
                width: 30px;
                height: 30px;

                i{
                    position: absolute;
                    top: 25%;
                    left: 25%;
                }
            }
            .cv-container{
                border: 2px solid $blanc;
                border-radius: 4px;
                padding: 5px 15px;
                &:hover{
                    animation: shake 0.5s;
                }
                a{
                    color: $ecriture;
                }
                
            }
        }

    }
    .menu-hamburger{
        width: 35px;
        height: 35px;
        position: absolute;
        right: 30px;
        top: 30px;
        display: none;
    }
}



//responsive

@media screen and (max-width: $large-tablet){
    .navbar{
        padding: 0 !important;
        .logo{
            position: absolute;
            top: 25px;
            left: 30px;
            z-index: 1000;
        }
        .nav-links{
            position: absolute;
            flex-direction: column;
            background-color: rgb(255, 255, 255, 0.299);
            backdrop-filter: blur(10px);
            width: 100%;
            height: 100vh;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -100%;
            transition: all 0.5s;
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .chargement{
                margin-top: 20px;
                gap: 20px;
            }
            &.mobile-menu{
                margin-left: 0;
            }
        }
        .menu-hamburger{
            display: block !important;
        }
    }
}


body{
    &.light-theme{
        .navbar{
            &.background-transparent{
                background-color: rgba(0, 0, 0, 0.426) ;
                border-bottom: 2px solid black;
            }
            a{
                color: $noir;
            }
            .nav-links{
                i{
                    color: $noir !important;
                }
                .cv-container{
                    border: 2px solid black;
                    border-radius: 4px;
                    padding: 5px 15px;
                    &:hover{
                        animation: shake 0.5s;
                    }
                    a{
                        color: black;
                    }
                    
                }
            }
            svg{
                line{
                    stroke: black;
                }
                
            }
        }
    }
}


.background{
    background-color: transparent !important;
    transition: none !important;
    backdrop-filter: none !important; 
    border-bottom: none !important;
}