// Dark theme


.presentation{
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding: 60px 10%;
    max-width: 1600px;
    margin: auto;
    height: 75vh;
    justify-content: space-between;
    align-items: center;
    .left-presentation{
        display: flex;
        flex-direction: column;
        max-width: 60%;
        gap: 12px;
        .name-description{
            font-size: 20px;
            color: grey;
        }
        .container-titre{
            display: flex;
            .name{
                font-size: 45px;
                color: white;
                cursor: pointer;
                &:hover{
                    color: $main-color;
                }
            }
            .point{
                font-size: 45px;
                margin-left: 1rem;
            }
        }
        .container-button{
            display: flex;
            gap: 1rem;
            .button-link{
                background: white;
                color: black;
                padding: 10px 20px;
                border-radius: 50px;
                text-decoration: none;
                transition: all 0.3s cubic-bezier(0.39,0.575,0,1.005);
                &:hover{
                    background: $main-color;
                    color: white;
                }
            }
            .social-media{
                color: white;
                border: 2px solid white;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;

                img{
                    width: 20px;
                    height: 20px;
                }
                &:hover{
                    background: $main-color;
                    border: 2px solid $main-color;
                    transition: all 0.3s cubic-bezier(0.39, 0.575, 0, 1.005);
                }
            }
        }
    }
    .right-presentation{
        display: flex;
        flex-direction: column;
        max-width: 60%;
        gap: 12px;
    }
}

.experience{
    padding: 0 10%;
    h2{
        margin-bottom: 2rem;
        font-size: 35px;
    }
    .container-experiences{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .single-experience{
            background-color: grey;
            border: 1px solid white;
            border-radius: 15px;
            width: 47%;
            display: flex;
            padding: 10px;
            flex-direction: row;
            margin: 1rem;
            .container-image{
                width: 20%;
                img{
                    width: 100%;
                    height: 100%;
                    
                }
            }
            .text-exp{
                display: flex;
                flex-direction: column;
                width: 65%;
            }
            .date-exp{
                width: 15%;
            }
        }
    }
}

.langages-applications{
    padding: 4rem 10%;
    h2{
        font-size: 35px;
        margin-bottom: 2rem;
    }
    .container-lang-app{
        display: flex;
        justify-content: space-between;
        .container-app{
            border: 4px dashed #ffffff;
            width: 30%;
            padding: 30px;
            h3{
                font-size: 25px;
                margin-bottom: 1rem;
            }
            .container-inter-langapp{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 2rem;
                .single-lang-app{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    i{
                        font-size: 50px;
                        margin-bottom: 1rem;
                    }
                    P{
                        font-size: 15px;
                    }
                }

            }
        }
        
    }
}


.projets{
    padding: 4rem 10%;
    h2{
        font-size: 35px;
        margin-bottom: 2rem;
    }
    .container-projets{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: space-around;
        a{
            width: 30%;          
            border: 2px solid white !important;
            border-radius: 10px;

                .container-image{
                    width: 100%;
                    height: 150px;
                    border-radius: 10px;
                    border-bottom: 2px solid white;
                    &#natureetmoi{
                        background: url('/assets/nature&moi.png') center ;
                    }
                }
                .text-project{
                    margin: 1rem 15px;
                    h3{
                        font-size: 17px;
                        color: #ffffff;
                    }
                    p{
                        font-size: 15px;
                        color: #ffffff;
                    }
                }
                .container-langapp-use{
                    margin: 1rem 15px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 1rem;
                    p{
                        font-size: 15px;
                        border: #ffffff 1px solid;
                        padding: 5px 10px;
                        border-radius: 5px;
                        color: #ffffff;
                    }
                }
            
        }
        
    }
    .container-button-other-projet{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        a{
            color: #ffffff !important;
            border: 1px solid white;
            padding: 5px 15px;
            border-radius: 4px;
        }
    }
}



// Light theme

body{
    &.light-theme{
        background: white;
        .presentation{
            
            .left-presentation{

                .container-titre{

                    .name{
                        color: black;
                        &:hover{
                            color: $main-color;
                        }
                    }
                }
                p{
                    color: black;
                }
                .container-button{

                    .button-link{
                        background: black;
                        color: white;
                        &:hover{
                            background: $main-color;
                            color: white;
                        }
                    }
                    .social-media{
                        color: black;
                        border: 2px solid black;
                        &:hover{
                            background: $main-color;
                            border: 2px solid $main-color;
                            i{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        
        .experience{
            h2{
                color: black;
            }
            .container-experiences{
                .single-experience{
                    background-color: black;
                    border: 1px solid white;

                }
            }
        }
        
        .langages-applications{

            .container-lang-app{

                .container-app{
                    border: 4px dashed black;

                    h3{
                        color: black;
                    }
                    .container-inter-langapp{

                        .single-lang-app{

                            i{
                                color: black;
                            }
                            P{
                                color: black;
                            }
                        }
        
                    }
                }
                
            }
            
        }
        .projets{
            h2{
                color: black;
            }
            .container-projets{
                a{        
                    border: 2px solid black !important;
                    .container-image{
                        border-bottom: 2px solid black;
                    }
                    .text-project{
                        h3{
                            color: black;
                        }
                        p{
                            color: black;
                        }
                    }
                    .container-langapp-use{
                        p{
        
                            border: black 1px solid;
        
                            color: black;
                        }
                    }
                }  
            }
        }
    }
}


